<div class="full-screen welcome-screen">

    <div class="container container-400 container-rounded true-center bg-white-trans">
        <img src="https://upload.wikimedia.org/wikipedia/fr/3/3b/Logo_Carrefour.svg"
             class="center-block logo-small">
LOGIN


    </div>

</div>
